extends layout

block content

  .section-about
    | Pep Marie
    p
      | from: phillyjawn
      br
      |  these days: fighting for community control of our schools
      br
      | in this moment: we have to go hard towards our vision for the world
      br
      |  looking ahead: telling the true story of OUR neighborhoods

  .section-about
    img(src='./images/pephannah.png')
      
  .section-about
    | Hannah Elhard
    p
      | from: Small town Ohio
      br
      | these days: teacher and organizer
      br
      | in this moment : We have an imperative to view our lives and the way we take care of each other more creatively and with greater responsibility.
      br
      | looking ahead: creating more genuine self-expression opportunities for children.
