extends layout

block content

  .tabs
    ul.tab-links
      li.active
        a(href='#inquries') Inquiries
      li
        a(href='#currentInventory') Current Inventory
      li
        a(href='#newInventory') Add Inventory
    .tab-content
      #inquries.tab.active
        p Tab #1 content goes here!
      #currentInventory.tab
        p Tab #2 content goes here!
      #newInventory.tab
        p Tab #3 content goes here!
