extends layout

block content

  .tabs
    ul.tab-links
      li
        a(href='#currentInventory') Current Inventory
      li
        a(href='#newInventory') Add Inventory
    .tab-content
      #currentInventory.tab.active
        include adminInventory.pug
      #newInventory.tab
        include inventoryform.pug
