extends layout

block content

  .section-contact
    img(src='./images/logo.png')

  .section-contact
    p email us: funnybonedesign@gmail.com
    a(href='mailto:funnybonedesign@gmail.com')
      img(src='https://emojidictionary.emojifoundation.com/img/emoji498.jpg')
    p follow us on instagram: instagram.com/funnybonedesign
    a(href='https://instagram.com/funnybonedesign' rel='outside')
      img(src='https://img.clipartfest.com/37452bef6cb2f1d051c709292e253870_instagram-icon-instagram-app-icon-clipart_236-236.jpeg')
