extends layout

block content

  .homepage-section
    .homepage-body-header
      h1 Funny Bone

  .homepage-section
    include navbar.pug
    
  .homepage-section
    .homepage-body-content
      .homepage-image
        img(src="./images/logo.png")

  .homepage-section
    include footer.pug
