extends layout

block content

  .section
    include navbar.pug
  .section
    h1 Current Inventory

    a(href='/apparel') Hats

    a(href='/art') Art

    for result in results

      ul
        li=result.name
