h1 Add Inventory Item
  .form
    form(classname='create-inventory' method='POST', action='/admin')
      input(class='inventory-input' type='text' name='name' placeholder='name')
      input(class='inventory-input' type='text' name='description' placeholder='description')
      input(class='inventory-input' type='text' name='category' placeholder='category')
      input(class='inventory-input' type='text' name='cost' placeholder='cost')
      input(class='inventory-input' type='text' name='size' placeholder='size')
      input(class='inventory-input' type='text' name='available' placeholder='true or false')
      input(class='inventory-input' type='text' name='quantity' placeholder='quantity')
      input(class='inventory-input' type='text' name='img' placeholder='img url')
      input(class='submit-inventory' type='submit' value='submit')
