doctype html
html(lang="en")
  head
    link(href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet")
    link(rel="stylesheet" href="stylesheets/index.css")
    link(rel="stylesheet" href="stylesheets/admin.css")
    link(rel="stylesheet" href="stylesheets/inventory.css")
    title Funny Bone
  body
    script(src='http://code.jquery.com/jquery.js')
    script(src='./javascripts/client.js')
  block content
